<div class="jumbotron">
  <form {{action 'searchBill' on='submit'}}>
    <label for="searchBill">Search</label>
    {{input value=keywords id="keywords" required=true}}
    <button type="submit" name="button">Search</button>
  </form>
</div>
