{{page-buttons count=model.count page=model.page back="back" next="next"}}
{{bill-search search="search"}}

<ul>
  {{#each model.results as |bill|}}
  <h4>{{bill.short_title}}</h4>
  <p>{{#link-to 'billdetail' bill.bill_id}}{{bill.last_version_on}}{{/link-to}}</p>
  {{/each}}
</ul>
